.img-container {
  min-height: 25em;
  max-height: 25em;
  overflow: hidden;
}

.tmb-container {
  max-height: 4em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
